<form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}" onsubmit="return confirm('Удалить книгу из списка?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-outline-danger">Удалить</button>
</form>
