{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Изменить информацию о книге</h1>

    {{ include('book/_form.html.twig', {'button_label': 'Обновить'}) }}
    <a href="{{ path('app_book_index') }}" class="btn btn-outline-secondary mt-2">Назад</a>

{% endblock %}
